* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

#press {
  text-align: center;
  height: 50px;
  width: 350px;
  font-size: 20px;
  border: 1px solid rgb(86, 85, 85);
}

.keypressed {
  text-align: center;
  display: flex;
}

.keypressed div {
  margin: 15px;
}

.keypressed p {
  text-align: center;
  font-size: 30px;
  border: 1px solid rgb(75, 75, 75);
  background-color: #fff;
  padding: 30px 70px;
  color: rgb(34, 33, 33);
  margin-bottom: 15px;
}

.keypressed small {
  height: 50px;
  width: 130px;
  padding: 5px;
  font-size: 18px;
}
